figcaption {
    color: #aeaeae;
    padding: 8px 0;
}

.highlight {
    .nc {
        font-weight: normal;
    }
    .kt {
        font-weight: normal;
    }
    .k {
        font-weight: normal;
    }
    .na {
        color: #6dd;
    }
}

.site-header {
    border: 0;
}
